* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    font-size: 1.3rem;
    text-align: center;
}

body {
    background: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.card {
    height: 400px;
    width: 300px;
    background: rgb(50, 115, 200);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}

.imagem {
    width: 200px;
    filter: contrast(0%);
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.game-container input {
    width: 300px;
    border: none;
    border-radius: 50px;
    padding: 10px;
    font-size: 1rem;
    margin-top: 10px;
}

#guess-btn, .dicas-container button, #reiniciar-btn {
    border: none;
    background: rgb(200, 122, 50);
    color: white;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
}

#guess-btn:hover, .dicas-container button:hover, #reiniciar-btn:hover {
    background: rgb(180, 100, 30);
}

.back-button {
    text-decoration: none;
    background: rgb(50, 115, 200);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
}

.back-button:hover {
    background: rgb(25, 70, 100);
}

/* Organizar as dicas */
.dicas-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#dica-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.dicas-container button {
    width: 250px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #c8a832;
    color: white;
}

.dicas-container button:disabled {
    background-color: #b0b0b0;
    cursor: not-allowed;
}

#dicas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    font-size: 1rem;
    align-items: center;
}

/* Ajustes de layout */
#guess {
    margin-top: 0;
}

#reiniciar-btn {
    background-color: #f44336;
}

#reiniciar-btn:hover {
    background-color: #e53935;
}

#dica-btn-container button {
    width: 250px;
    margin-bottom: 10px;
    cursor: pointer;
}

.suggestions {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    width: 300px;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.suggestions div {
    padding: 10px;
    cursor: pointer;
    font-size: 1rem;
}

.suggestions div:hover {
    background: #ddd;
}

.input-container {
    position: relative;
    display: inline-block;
}

